@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet');

*{
    margin-top: 0;
}

html{
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto; 
    flex-wrap: wrap;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(45deg, blueviolet, rgb(253, 4, 253));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.signup{
    width: 33rem;
    height: 43rem;
    background-color: white;
    border-radius: 0.8rem;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

input{
    border: none;
}

#user{
    padding-top: 2.5rem;
    margin-bottom: -1rem;
}
#user label{
    margin-left: 6rem;
} 

#pass{
    margin-left: 6rem;
}
#mail{
    margin-left: 6rem;
}
#cpf{
    margin-left: 6rem;
}

hr{
    width: 20rem;
}
.username, .password{
    display: flex;
    justify-content: center;
    gap: 0.23rem;
    margin-top: 0.125rem;
    margin-bottom: 0.25rem;
}
.username input{
    width: 18.75rem;
    height: 2.5rem;
    font-size: 1rem;
}
.username img{
    width: 1.563rem;
}
.password img{
    width: 1.3rem;
    height: 1.4rem; 
    margin-top: 0.606rem;
}
.password input{
    width: 18.75rem;
    height: 2.5rem;
    font-size: 1rem;
}
.username input:focus {
    outline: none;
}
.password input:focus {
    outline: none;
}

.forgot{
    display: flex;
    justify-content: center;
    margin-top: 0.625rem;
}
.forgot a {
    color: rgb(160, 160, 160) ;
    text-decoration: none;
}

.div-login-btn{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.login-btn{
    width: 22.5rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, blueviolet, rgb(253, 4, 253));
    transition: transform 0.2 ease-in-out;
    cursor: pointer;
}
.login-btn:hover{
  filter: brightness(120%);
  transform: scale(1.01);
}

.part-login-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: rgb(124, 125, 126);
}

.part-login-i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-login-i img{
    width: 3.75rem;
    height: auto;
    cursor: pointer;
}

#choose-sign-login {
    display: flex;
    gap: 0.1rem;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 10rem;
    box-shadow: 0px 0px 15px rgba(255, 1, 255, 0.5);
}
.div-signup-btn{
    display: flex;
    justify-content: center;
}
.signup-btn{
    width: 10rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: "Cormorant", serif;
    border: none;
    background-color: white;
    transition: transform 0.2 ease-in-out;
    cursor: pointer;
}
.signup-btn:hover{
  filter: brightness(80%);
  transform: scale(1.01);
}

.div-loginpg-btn{
    display: flex;
    justify-content: center;
}
.loginpg-btn{
    width: 10rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
    font-family: "Cormorant", serif;
    border: none;
    background-image: linear-gradient(to right, blueviolet, rgb(190, 3, 181));
    transition: transform 0.2 ease-in-out;
    cursor: pointer;
}
.loginpg-btn:hover{
  filter: brightness(120%);
  transform: scale(1.01);
}
#logindiv{
    display: block;
}
#signupdiv{
    display: none;
}

.bg-loader{
    width: 100%;
    height: 100%;
    margin-left: -0.625rem;
    display: flex;
    background-color: #ffffff;
    position: fixed;
    opacity: 56%;
    z-index: 9998;
    display: none;
}

.loader {
    width: 7.8rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #3b3b40;
    position: fixed;
    border-radius: 50%;
    opacity: 93%;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.loader div {
    width: 0.938rem;
    height: 0.938rem;
    background-color: #ffffff;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in-out;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
}
